@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../../systemBarWidget/scss/support/_systembar-mixins.scss";/*================================
    PerspectiveChooser Menu (Systembar)
================================*/
// Relevant Changes applied to the Perspective Chooser Menu

// Status:
// - all necessary changes added



.yw-perspective-breadcrumb {
  cursor: $systembar__perspective-breadcrumb-content--cursor;
  float: $systembar__perspective-breadcrumb-content--float;
  position: $systembar__perspective-breadcrumb-content--position;
  display: block;
  padding: $systembar__perspective-breadcrumb--padding;
  margin-right: $systembar__perspective-breadcrumb--margin-right;

  .z-hlayout-inner + .z-hlayout-inner & {
    border-left: $systembar__perspective-item--border;
  }

  .z-caption {
    width: $systembar__perspective-caption--width;
    display: inline-block;
  }

  .z-caption,
  .z-icon-caret-down {
    color: $systembar-popup__list-cell--font-color;
  }

  &.yw-perspective-breadcrumb-expanded {
    background: $systembar__container-hover--bg-color;
  }

  .z-caption-content {
    line-height: $systembar__perspective-breadcrumb-content--line-height;
    padding: $systembar__perspective-breadcrumb-content--padding;

    @media (max-width: 499px) {
      text-overflow: $systembar__perspective-breadcrumb-content--text-overflow__screen-s;
      overflow: $systembar__perspective-breadcrumb-content--overflow__screen-s;
      white-space: $systembar__perspective-breadcrumb-content--white-space__screen-s;
      max-width: $systembar__perspective-breadcrumb-content--max-width__screen-s;
    }
  }

  .z-caption-image {
    margin-right: $systembar__perspective-item-image--margin-right;

    @media (max-width: 499px) {
      display: $systembar__perspective-item-image--display__screen-s;
    }
  }

  .z-menu-icon {
    display: inline-block;
    position: $systembar__perspective-item-icon--position;
    font-size: $systembar__perspective-item-icon--font-size;
    line-height: $systembar__perspective-item-icon--line-height;
    margin-left: $systembar__perspective-item-icon--margin-left;
    vertical-align: top;

    @media (max-width: 499px) {
      margin-left: $systembar__perspective-item-icon--margin-left__screen-s;
    }
  }
}
