.ye-com_hybris_cockpitng_editor_defaulttime .z-timebox {
  display: table;
  position: relative;
  width: 100%; }

.ye-com_hybris_cockpitng_editor_defaulttime .z-timebox .z-timebox-input {
  width: 100%;
  box-sizing: border-box; }
