@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 



$productlist__default--bg-color: $grey__light--500;
$productlist__default--color: $white;
$productlist__span--color: $blue__default--300;
$productlist__title--color: $blue__default;
$productlist__title-head--color: $blue__default--600;
$productlist__seperator_border_product--color: $grey__default;
$productlist__seperator_border--color: $grey__light--600;

$productlist__spacing--x: $container-spacing-default__third;
$productlist__product-button--size: 16px;

$productlist__inline-box--height: $editor-defaults__inline-box--height;
$productlist__font-size__semi-base: $font-size__semi-base;
$productlist__font-size__large: $font-size__large;

$productlist__row--padding-y: 8px;


