@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../systemBarWidget/scss/support/_systembar-mixins.scss";/*================================
    UserRoleChooser Popup (Systembar)
================================*/
// Relevant Changes applied to the User Role Chooser Popup

// Status:
// - all necessary changes added
// - code refactored, cleaned and styling transfered to systembar-mixins.scss



.yw-roleChooser {
	&-popup {
		@include _default_systembar_popup();

		.z-listbox-emptybody td {
			padding: $systembar-popup__list-cell--padding;
			background-color: $systembar-popup__item--bg-color;
			border-top: $systembar-popup__list-cell--border-top;
			@include _systembar_fonts ();
		}
	}
	
	&-empty-list-state {
		display: none;
	}
}
