@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

/*================================
    Collection Editor Area (General)
================================*/
// Defined Styling relevant for Collection Editor Area

// Status:
// - minor stuff left to optimize
// TODO: optimize styles & code



$collection-editor-area__multi-reference-left--width: 700px;
$collection-editor-area__multi-reference-right--width: 246px;

.yw-preview-next,
.yw-preview-previous {
	opacity: 0.8;
	background: #ddd;
	width: 30px;
	height: 30px;
	position : absolute;
	top: 50%;
	margin-top: -15px;
	cursor: pointer;
	z-index:500;
}

.yw-preview-previous {
	left: 0;
}

.yw-preview-next {
	right: 0;
}

.yw-collection-preview-cnt {
	&.yw-single-reference > div.z-hlayout-inner {
	    width: 100%;
	    padding-right: 0 !important;
	}
	&.yw-multi-reference > div.z-hlayout-inner {
		&:nth-child(1) {
	    	width: $collection-editor-area__multi-reference-left--width;
			float: left;
	    	padding-right: 0 !important;
		}
		&:nth-child(2) {
		    width: $collection-editor-area__multi-reference-right--width;
		    float: right;
		}
	}
}
