@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 



.ye-com_hybris_cockpitng_editor_boolean_wrapper {
    float: left;
}

.yw-editorarea-tabbox .z-groupbox-content {
	span.ye-com_hybris_cockpitng_editor_defaultboolean.z-radiogroup {
		display: inline-block;
	}
	.ye-com_hybris_cockpitng_editor_boolean_wrapper .z-hbox {
		width: auto;
		max-width: 100%;
		td table td {
			display: inline-block;
			height: auto !important;
			line-height: $editor-defaults__inline-box--height !important;
		}
	}
}

@media screen and (min-width : 400px) and (max-width : 1199px) {
	.yw-editorarea-tabbox-tabs .z-groupbox-content .ye-com_hybris_cockpitng_editor_boolean_wrapper {
		width: 100%;
		.z-hbox {
			table-layout: inherit;
			table {
				width: auto;
				max-width: 100%;
			}
		}
	}
}

@media screen and (min-width : 1200px)  and (max-width : 2000px) {
	.yw-editorarea-tabbox-tabs .z-groupbox-content .ye-com_hybris_cockpitng_editor_boolean_wrapper .z-hbox {
		min-width: 50%;
	}
}

.yw-wizard-property .ye-com_hybris_cockpitng_editor_boolean_wrapper {
    float: none;
}