@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 



.yw-toolbar-horizontal {
	width: 100%;
}

.yw-toolbar-horizontal .yw-toolbar-content .yw-toolbar-before,
.yw-toolbar-horizontal .yw-toolbar-content .yw-toolbar-actions,
.yw-toolbar-horizontal .yw-toolbar-content .yw-toolbar-after {
	display: inline-block;
}


.yw-toolbar-horizontal .yw-toolbar-content .yw-toolbar-actions {
	vertical-align: middle;
}
