@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 



$date-editor__box--background-color: $white;
$date-editor__box--border-color: $grey__default--900;
$date-editor__box--focus-color: $blue__default;
