@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import 'C:/y6.3.0.2/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_collectionBrowser-variables.scss";/*================================
    Collection Browser - Toolbar
================================*/
// All Defaults connected to the Collection Browser

// Status:
// - indented, variables assigned



.y-toolbar {
    padding: $collection-browser__toolbar--padding;
    border-top: $collection-browser__toolbar--border;
    border-bottom: $collection-browser__toolbar--border;
    
    .z-button {
        height: $collection-browser__toolbar-z-button--height;
        padding-top: $collection-browser__toolbar-z-button--padding-y;
        padding-bottom: $collection-browser__toolbar-z-button--padding-y;
        min-height: auto;
    }

    .cng-action-enabled .cng-action-icon,
    .yw-viewMode-btn {
        &:hover, &:focus {
            background-color: $collection-browser__button--hover-bg-color;
        }
    }

    .cng-action {
        line-height: $collection-browser__button--line-height;
        vertical-align: middle;
    }
}

.yw-coll-browser-mold-sel {
    &-container {
        float: right;

        .z-hbox-separator {
            display: none;
        }
        td {
            vertical-align: middle;
        }
    }

    &-btn {
        width: $collection-browser__toolbar-mold-select-button--size;
        height: $collection-browser__toolbar-mold-select-button--size;
        background-repeat: no-repeat;
        background-position: center center;
        
        @include _add_collection-browser-mold-select-icon ('list');
        @include _add_collection-browser-mold-select-icon ('tree');
        @include _add_collection-browser-mold-select-icon ('grid');
    }
}

.z-paging, .z-label {
    &[style*="display:none"] + .yw-coll-browser-mold-sel-container {
        border-right-width: 0;
    }
}

.yw-listview-actioncontainer {
    padding: $collection-browser__header--padding;
    background: $collection-browser__header--bg-color;

    .z-paging, .z-paging-os {
        float: right;
        //height: $collection-browser__toolbar--height;
        background: none;
    }

    .z-paging {
        .z-paging-button{
            margin-right: $collection-browser__toolbar-paging-button--margin-right;
        }
    }

    .yw-listview-actionSlot {
        float: left;
    }

    .z-label.number-of-items-label {
        float: right;
    }

    .yw-com_hybris_cockpitng_collectionBrowser & {
        padding: $collection-browser__action-container--padding;

        .ya-create-container {
            border: none;
            background-color: transparent;
            margin: $collection-browser__create-container--margin;

            .cng-action-text {
                display: none;
            }
        }

        .z-paging-button {
            &:disabled, &[disabled] {
                &:hover, &:focus {
                    background-color: transparent;
                }
            }
        }
    }

    .ya-create-type-selector-button {
        &,
        &:hover {
            border-left: $collection-browser__toolbar--border;
        }
    }
}

.yw-toolbar-center-container {
	float: right;
}
