/*================================
    Global Links Variables
================================*/
/*================================
    Global Links Popup
================================*/
.yw-global-links .yw-global-links-container {
  width: 225px;
  background: #32a0ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden; }
  .yw-global-links .yw-global-links-container-link {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.1); }
    .yw-global-links .yw-global-links-container-link:hover {
      cursor: pointer;
      background: #84c6f4;
      -webkit-transition: background-color 0.5s ease;
      transition: background-color 0.5s ease; }
    .yw-global-links .yw-global-links-container-link-icon {
      width: 100%;
      height: 62px;
      padding: 10px 5px;
      margin: 20px auto 15px; }
    .yw-global-links .yw-global-links-container-link-label {
      width: 100%;
      color: #ffffff;
      padding: 0 5px 20px 5px;
      text-align: center;
      line-height: 18px;
      display: block; }

.yw-global-links-btn img {
  height: 30px; }
